@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

.fa-brands {
  cursor: pointer; }

.form-control:focus,
.form-check-input:focus {
  box-shadow: #de4ebf66 0 0 0 4px; }

.form-control:not(:disabled):not([readonly])::file-selector-button {
  background-color: #de4ebf;
  color: #fff; }

.seccioneshome, .home__nosotros, .home__pedidos, .home__contacto {
  background-color: #e986d4;
  border: 1px solid #e986d4;
  text-shadow: #727272 3px 2px;
  grid-area: Nosotros;
  animation: bounce-in-top 2.5s;
  transition: all 0.4s; }

.homeseccioneshover, .home__nosotros:hover, .home__pedidos:hover, .home__contacto:hover {
  background-color: #d208a2;
  box-shadow: rgba(255, 255, 255, 0.4) -6px 6px 6px, rgba(255, 255, 255, 0.4) -6px -6px 6px;
  z-index: 1;
  overflow: hidden; }

.homeseccioneshoverh4, .home__nosotros:hover h4, .home__pedidos:hover h4, .home__contacto:hover h4 {
  font-size: 5vw;
  color: #f6cbec;
  opacity: 1;
  left: 1rem;
  bottom: 0.6rem; }

.homeseccioneshoveri, .home__nosotros:hover i, .home__pedidos:hover i, .home__contacto:hover i {
  font-size: 20vw;
  color: #de4ebf;
  opacity: 30%;
  left: -10%;
  top: 20%; }

.seccioneshomehoverbefore, .home__nosotros:hover::before, .home__pedidos:hover::before, .home__contacto:hover::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 500%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: #f6cbec;
  -webkit-animation: bordeHome 6s linear infinite;
  animation: bordeHome 6s linear infinite;
  z-index: -2; }

.seccioneshomehoverafter, .home__nosotros:hover::after, .home__pedidos:hover::after, .home__contacto:hover::after {
  content: "";
  position: absolute;
  inset: 3px 3px 0 0;
  background: #d208a2;
  z-index: -1; }

@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes bordeHome {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  80% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  86% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  88% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  90% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  93% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  95% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: scale(1.24);
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

.header {
  background-color: #de4ebf;
  position: sticky;
  top: 0;
  z-index: 999; }
  .header__item1 {
    animation: slide-in-left 1s; }
  .header__item2 {
    animation: slide-in-left 1.5s; }
  .header__item3 {
    animation: slide-in-left 2s; }
  .header__item4 {
    animation: slide-in-left 2.5s; }
  .header__logo img {
    height: 3rem;
    filter: drop-shadow(-2px 2px 5px black);
    animation: jello-horizontal 5s both infinite; }

.footer {
  background-color: #de4ebf;
  width: 100%;
  padding: 1rem; }
  .footer i {
    transition: color 0.2s, transform 0.4s; }
  .footer * {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px; }
  .footer__logo-img {
    height: 1.7rem;
    filter: drop-shadow(-2px 2px 15px black);
    transition: all 1s;
    padding-right: 1rem; }
    .footer__logo-img:hover {
      transform: scale(1.1); }

.fa-instagram:hover {
  color: red;
  transform: scale(1.2); }

.fa-whatsapp:hover {
  color: green;
  transform: scale(1.2); }

.fa-envelope:hover {
  color: blue;
  transform: scale(1.2); }

.fa-map-location-dot:hover {
  color: red; }

.home {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "logo   Nosotros" "logo   Pedidos" "logo   Contacto"; }
  .home * {
    color: #f6cbec; }
  .home__logo {
    background-color: #de4ebf;
    border: 1px solid #e986d4;
    grid-area: logo;
    animation: bounce-in-left 1.5s; }
    .home__logo__img {
      width: 75%;
      filter: drop-shadow(-2px 2px 15px black);
      transition: all 0.5s;
      animation: bounce-in-left 1.5s; }
      .home__logo__img:hover {
        transform: scale(1.1);
        z-index: 1; }

.home__nosotros {
  grid-area: Nosotros; }
  .home__nosotros i,
  .home__nosotros h4 {
    transition: all 0.4s; }
  .home__nosotros i {
    font-size: calc(10vh); }
  .home__nosotros h4 {
    opacity: 0;
    letter-spacing: 1px; }

.home__pedidos {
  background-color: #de4ebf;
  grid-area: Pedidos;
  animation: bounce-in-top 2s; }
  .home__pedidos i,
  .home__pedidos h4 {
    transition: all 0.4s; }
  .home__pedidos i {
    font-size: calc(10vh); }
  .home__pedidos h4 {
    opacity: 0;
    letter-spacing: 1px; }

.home__contacto {
  grid-area: Contacto;
  animation: bounce-in-top 1.5s; }
  .home__contacto i,
  .home__contacto h4 {
    transition: all 0.4s; }
  .home__contacto i {
    font-size: calc(10vh); }
  .home__contacto h4 {
    opacity: 0;
    letter-spacing: 1px; }

.main {
  background-image: url("../assets/images/Nosotros/whatsapp-pink-background-wallpaper.jpg");
  background-size: contain; }
  .main__qs__box__shadow {
    box-shadow: 14px 14px 13px -6px #6b6b6b;
    border-radius: 5px;
    background-color: #ffffffe6;
    z-index: 1; }
  .main h1,
  .main h2 {
    color: #de4ebf;
    text-shadow: #727272 3px 2px; }
  .main__qs__nosotros__imgs img {
    height: 8rem;
    filter: drop-shadow(5px 5px 5px black); }
  .main__qs__trabajos_text h2 {
    text-shadow: #727272 3px 2px; }
  .main__qs__trabajos_text p {
    text-align: justify;
    color: #373737;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.8rem; }
  .main__fondos_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    height: 150px;
    opacity: 80%; }
    .main__fondos_img1 {
      background-image: url("../assets/images/Nosotros/Img1.png"); }
    .main__fondos_img3 {
      background-image: url("../assets/images/Nosotros/Img3.png"); }
    .main__fondos_img4 {
      background-image: url("../assets/images/Nosotros/Img4.png"); }
    .main__fondos_img_central {
      background-image: url("../assets/images/Nosotros/Fondo_colores.png"); }
    .main__fondos_img5 {
      background-image: url("../assets/images/Nosotros/Img2.png"); }
    .main__fondos_img6 {
      background-image: url("../assets/images/Nosotros/Img5.png"); }
    .main__fondos_img7 {
      background-image: url("../assets/images/Nosotros/Imp-3D.png"); }
  .main__qs__carousel {
    background-color: #e986d4; }
    .main__qs__carousel img {
      border: 6px solid #fff; }
    .main__qs__carousel__height__img {
      height: 30vw;
      max-height: 350px;
      min-height: 240px;
      border-radius: 50%; }

.funkomizate {
  color: #de4ebf;
  font-weight: bold;
  font-size: 50px;
  padding: 2rem 0;
  margin: 0;
  text-shadow: #727272 3px 2px;
  letter-spacing: 2px;
  animation: bounce-in-bck 1.5s ease-in-out; }
  .funkomizate__text {
    color: #6b6b6b;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bold; }
  .funkomizate__acordion-color {
    background-color: #de4ebf;
    color: white; }

.accordion-button:is(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"); }

.accordion-button:not(.collapsed) {
  background-color: #de4ebf;
  color: #fff; }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"); }

.accordion-button:focus {
  box-shadow: none; }

.modal-header {
  background-color: #de4ebf;
  color: #fff; }

.btn-close {
  opacity: 70%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e"); }
  .btn-close:focus {
    box-shadow: none; }

.modal-body p {
  font-size: 12px; }

.btn-outline-primary {
  color: #de4ebf;
  font-weight: bold;
  border-color: #de4ebf;
  border-width: 2px;
  box-shadow: 2px 2px 3px #de4ebf, 5px 5px 6px #e986d4;
  letter-spacing: 1px; }
  .btn-outline-primary:hover {
    background-color: #de4ebf !important;
    border-color: #de4ebf !important;
    color: #fff;
    box-shadow: 5px 5px 6px #e986d4; }

.form-control {
  border: 1px solid #e986d4; }
  .form-control:focus {
    border-color: #e986d4; }

.form-check-input:checked {
  background-color: #de4ebf;
  border-color: #de4ebf; }

.form-check-input:focus {
  border-color: #de4ebf; }

.form-check-input:indeterminate {
  background-color: #e986d4; }

.btn-primary {
  background-color: #de4ebf;
  border-color: #de4ebf; }
  .btn-primary:hover {
    background-color: #dd5ec1 !important;
    border-color: #de4ebf !important; }

.infocontacto i {
  color: #de4ebf;
  font-size: 2.2rem;
  margin-bottom: 1rem; }

.infocontacto a {
  color: #6b6b6b;
  text-shadow: #eaeaea 2px 2px; }
  .infocontacto a:hover {
    color: #8a8a8a; }

.infocontacto p {
  color: #6b6b6b;
  text-shadow: #eaeaea 2px 2px;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #e986d4; }
  .infocontacto p:last-child {
    border: 0; }

.instagram-media {
  min-width: 296px !important; }

@media (max-width: 992px) {
  .enlacesinstagram1 {
    display: none; } }

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo       Nosotros" "Contacto   Pedidos"; }
    .homeseccioneshoverh4, .home__nosotros:hover h4, .home__pedidos:hover h4, .home__contacto:hover h4 {
      font-size: 8vw; } }

@media (max-width: 670px) {
  .enlacesinstagram2 {
    display: none; } }

@media (max-width: 576px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr repeat(3, 1fr);
    grid-template-areas: "logo" "Nosotros" "Pedidos" "Contacto"; }
    .homeseccioneshoverh4, .home__nosotros:hover h4, .home__pedidos:hover h4, .home__contacto:hover h4 {
      font-size: 10vw;
      bottom: 0.1rem; }
    .home__logo__img {
      width: 55%; }
  .header__logo img {
    padding: 0 1rem; }
  .qs__trabajos_text {
    padding: 1rem; }
    .qs__trabajos_text h2 {
      font-size: 1.5rem;
      text-align: center; }
    .qs__trabajos_text p {
      font-size: 0.9rem;
      padding-bottom: 0; }
  .qs__carrusel img {
    margin: 1rem 0; }
  .main__funkomizate__title h3 {
    font-size: 2rem;
    padding: 2rem 0; }
  .main__form__ped {
    padding-bottom: 2 rem; } }

@media (max-width: 460px) {
  .funkomizate {
    font-size: 40px; }
    .funkomizate__text {
      font-size: 30px; }
  .footer .fa-map-location-dot {
    display: none; }
  .footer h6 {
    font-size: 13px !important; } }

@media (max-width: 375px) {
  .qs__nosotros__imgs {
    justify-content: center;
    padding: 1rem; }
  .funkomizate {
    font-size: 35px; }
    .funkomizate__text {
      font-size: 25px; }
  .instagram-media {
    width: 20%; } }

@media (max-width: 300px) {
  .d-flex .mobile-300 {
    display: none; } }
