.footer {
  background-color: $primarycolor;
  width: 100%;
  padding: 1rem;

  i {
    transition: color 0.2s, transform 0.4s;
  }

  * {
    color: $fontcolor;
    text-decoration: none;
    letter-spacing: 1px;
  }

  &__logo-img {
    height: 1.7rem;
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 85%));
    transition: all 1s;
    padding-right: 1rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}

$redes: (
  instagram: red,
  whatsapp: green,
  envelope: blue,
);

@each $redsocial, $colorred in $redes {
  .fa-#{$redsocial}:hover {
    color: $colorred;
    transform: scale(1.2);
  }
}

.fa-map-location-dot:hover {
  color: map-get($map: $redes, $key: instagram);
}
