.header {
  background-color: $primarycolor;
  position: sticky;
  top: 0;
  z-index: 999;

  @for $item from 1 through 4 {
    &__item#{$item} {
      animation: slide-in-left $item * 0.5 + 0.5s;
    }
  }

  &__logo img {
    height: 3rem;
    filter: drop-shadow(-2px 2px 5px rgba(0, 0, 0, 85%));
    animation: jello-horizontal 5s both infinite;
  }
}
