@media (max-width: 992px) {
  .enlacesinstagram1 {
    display: none;
  }
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "logo       Nosotros"
      "Contacto   Pedidos";

    &seccioneshoverh4 {
      font-size: 8vw;
    }
  }
}

@media (max-width: 670px) {
  .enlacesinstagram2 {
    display: none;
  }
}

@media (max-width: 576px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr repeat(3, 1fr);
    grid-template-areas:
      "logo"
      "Nosotros"
      "Pedidos"
      "Contacto";

    &seccioneshoverh4 {
      font-size: 10vw;
      bottom: 0.1rem;
    }

    &__logo__img {
      width: 55%;
    }
  }
  .header__logo img {
    padding: 0 1rem;
  }
  .qs__trabajos_text {
    padding: 1rem;

    h2 {
      font-size: 1.5rem;
      text-align: center;
    }

    p {
      font-size: 0.9rem;
      padding-bottom: 0;
    }
  }

  .qs__carrusel img {
    margin: 1rem 0;
  }
  .main__funkomizate__title h3 {
    font-size: 2rem;
    padding: 2rem 0;
  }
  .main__form__ped {
    padding-bottom: 2 rem;
  }
}

@media (max-width: 460px) {
  .funkomizate {
    font-size: 40px;

    &__text {
      font-size: 30px;
    }
  }

  .footer .fa-map-location-dot {
    display: none;
  }

  .footer h6 {
    font-size: 13px !important;
  }
}

@media (max-width: 375px) {
  .qs__nosotros__imgs {
    justify-content: center;
    padding: 1rem;
  }

  .funkomizate {
    font-size: 35px;

    &__text {
      font-size: 25px;
    }
  }

  .instagram-media {
    width: 20%;
  }
}

@media (max-width: 300px) {
  .d-flex .mobile-300 {
    display: none;
  }
}
