$primarycolor: #de4ebf;
$secondarycolor: #e986d4;
$fontcolor: #fff;
$box-shadow: 14px 14px 13px -6px #6b6b6b;
$text-shadow: #727272 3px 2px;
$background-image: url("../assets/images/Nosotros/whatsapp-pink-background-wallpaper.jpg");
